<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Переключатель настроек</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Compiled and minified CSS -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
   <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
   
</head>

<body>
   <h1></h1>
   <div class="container">
      <div class="top-row">
         
         <li>{{ username }}</li>
         <li>{{ pas }}</li>
         <form action="" method="post">
            <div class="row">
               <div class="input-field col s12">
                     {{form.select(class="js-example-basic-single")}}
               </div>
               <div class="input-field col s8">
                  {{ form.submit(class="btn waves-effect") }}
               </div>
            </div>
         </form>
      </div>
   </div>

   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
      


   <script>
   $(document).ready(function() {
    $('.js-example-basic-single').select2();});
</script>
</body>

</html>