<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Переключатель настроек</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
   <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
</head>

<body>
   <div class="container">
      <h3>Войдите в систему</h3>
   </div>
   <div class="container">
      <form action="" method="post">
         {{form.hidden_tag()}}
         <div class="row">
            <div class="input-field col s8">
               {{form.username()}} {{form.username.label(for="username")}}
            </div>
            <div class="input-field col s8">
               {{form.password()}} {{form.password.label(for="password")}}
            </div>
            <div class="input-field col s8">
               {{form.submit(class="btn waves-effect")}}
            </div>
         </div>

      </form>
   </div>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>

</html>